    .canvas {
        background-color: white;
        animation-name: portada;
        animation-duration: 4s;
        animation-delay: 0;
        animation-fill-mode: forwards;
        animation-direction: alternate;
        animation-timing-function: linear
    }



    @keyframes portada {
        0% {
            transform: scale(1)
        }

        25% {
            transform: scale(1.2);
            opacity: 0.25
        }

        50% {
            transform: scale(1.4);
            opacity: 0.10
        }

        100% {

            transform: scale(1.6);
            opacity: 0
        }
    }